OUT_VCF_BEAGLE4_ALL_AutoSom21b_Chr28.TxT.vcf
AutoSom21b.Chr_28.TxT.vcf
*.json
__pycache__
AutoSom21b/
hapmap_testing/aditya_script
hapmap_testing/ivica_script
hapmap_testing/aditya_script.zip
hapmap_testing/ivica_script.zip
